---
import '../styles/global.css';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "ブログ";

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt","eyecatch"] });
---
<BaseLayout pageTitle={pageTitle}>
        <p>ここには、ブログを投稿します。</p>
        <ul>
            {
                posts.map((post) => (
               
                        <a href={`/blog/${post.id}`}>{post.title}</a>
                        <div>
                            <img
                           width={240} height={120} src={post.eyecatch.url}
                           alt=""　
                            /> 
                        </div>                       
                        <time datetime={post.publishedAt}>
                            {new Date(post.publishedAt).toLocaleDateString('ja-JP')}
                        </time>
                       
                ))
            }
        </ul>
        <script>
            import "../scripts/menu.js";
        </script>
</BaseLayout>